<h1>Available Books</h1>

<!-- Add a Login button -->
<%= link_to "Login", login_path %>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %> - 
      <%= book.author %> - 
      <%= book.available? ? "Available" : "Borrowed" %>
    </li>
  <% end %>
</ul>
